<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}"/>
  </head>

  <body>
    <nav class="nav container">
      <!-- Primary -->
      <ul class="nav__primary">
        <li class="nav__element">
          <img
            class="nav__element-logo"
            src="{{ url_for('static', filename='assets/img/node.png') }}"
            alt="icon"
          />
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/admin">Dashboard</a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="#">Features</a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/admin/listEmpl">Crud</a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="#">Apps</a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="#">Pages</a>
        </li>
      </ul>

      <!-- Secondary -->
      <ul class="nav__secondary">
        <li class="nav__element">
          <a class="nav__element-link" href="/"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/"
            ><i class="fa-solid fa-chart-pie"></i
          ></a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/"
            ><i class="fa-solid fa-chart-simple"></i
          ></a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/"
            ><i class="fa-solid fa-cart-arrow-down"></i
          ></a>
        </li>
        <li class="nav__element">
          <img
            class="nav__element-from"
            src="{{ url_for('static', filename='assets/img/peru.png') }}"
            alt="peru"
          />
        </li>
        <li class="nav__element">
          <a class="nav__element-link" href="/">Hi, Sebastian</a>
        </li>
        <li class="nav__element">
          <a class="nav__element-link nav__element-profile" href="/">S</a>
        </li>
      </ul>
    </nav>
    <hr class="divider" />

    <!-- Info -->
    <div class="info container">
      <div class="info__titles">
        <h1>Crud</h1>
        <ul>
          <li class="nav__element"><i class="fa-solid fa-house"></i></li>
          <li>Crud</li>
          <li>Configuración de Perfil</li>
        </ul>
      </div>
    </div>

    <!-- Content Barra -->
    <div class="content-barra container">
      <div class="content__stats-barra">
        <div class="content__stats-more">
          <a class="more__element-crud-button" href="/admin/manage/listEmpl">
            <div class="more__element-crud">
              <div class="more__element-crud-div">
                <div class="more__element-image">
                  <img src="{{ url_for('static', filename='assets/img/lista.png') }}" alt="img" />
                </div>
                <div class="more__element-name">
                  <h4>Lista</h4>
                  <p>Empleados</p>
                </div>
              </div>
            </div>
          </a>
          <a class="more__element-crud-button" href="/admin/manage/profile">
            <div class="more__element-crud">
              <div class="more__element-crud-div">
                <div class="more__element-image">
                  <img src="{{ url_for('static', filename='assets/img/config.png') }}" alt="img" />
                </div>
                <div class="more__element-name">
                  <h4>Configuración</h4>
                  <p>Perfil</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="content__crud">
        <div>
          <h2>Configuración de Perfil</h2>
        </div>
        <div class="crud-portada-main">
          <img src="{{ url_for('static', filename='assets/img/Bosque.jpg') }}" alt="img" />
        </div>
        <div class="portada-main-perfil">
          <img src="{{ url_for('static', filename='assets/img/Bosque.jpg') }}" alt="img" />
        </div>
          <div class="crud-perfil-main">
            <form class="perfil-main-form">
              <!--Parte datos -->
              <!--Corregir los names según la bd ene todos los forms-->
             <input type="text" value="Kenneth2022" name="user" maxlength="20" placeholder="Nombre de Usuario" class="dato" disabled/>
             <input type="text" value="Kenenth Hernan" name="fullname" maxlength="30" placeholder="Nombres" class="dato" disabled/>
             <input type="text" value="De la cruz Romero" name="surname" maxlength="30" placeholder="Apellidos" class="dato" disabled/>
             <input type="email" value="Kenneth@gmail.com" name="email" maxlength="100" placeholder="example@gmail.com" class="dato" disabled/>
             <input type="text" value="Kenneth123" name="password" maxlength="10" placeholder="Contraseña" class="dato-edit-dis" disabled />
             <!--Se activará al momento de editar-->
             <input type="text" value="Kenenth123" name="password" maxlength="10" placeholder="Contraseña" class="dato-edit" required/>
              <!--Parte botón -->
              <div class="from-button-main">
                <input type="button" value="Editar" class="perfil-edit" />
              </div>
              <div class="from-button">
                <input type="button" value="Cancelar" class="from-button-cancel" />
                <input type="submit" value="Editar" class="from-button-editar" />
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/CrudConfig.js') }}"></script>
  </body>
</html>
